@font-face {
	font-family: "Gillory-regular";
	src: url('/fonts/Gilroy-Regular.ttf');
}

html, body {
	font-family: "Gillory-regular";
}

body {
	padding: 0;
	margin: 0;
	background-color: #000;
	color: #fff;
	position: relative;
	min-height: 100vh;
}

* {
	overflow: hidden;
	box-sizing: border-box;
}

.no-visible {
	display: none !important;
}

.header {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	z-index: 1000;
	position: absolute;
	top: 60px;
	left: 90px;
}

.main {
	background-image: url(img/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.main__btn {
	position: absolute;
	top: 58vh;
	left: 60%;
	opacity: 0;
	animation: fadeIn 2.5s 1.5s forwards;
}

.main__btn button {
	width: 273px;
  height: 74px;
  border-radius: 12px;
	background-color: #33cc66;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
}

.main__twit {
	position: absolute;
	left: 60%;
	top: 31vh;
	width: 535px;
	opacity: 0;
	animation: fadeIn 2.5s 0.5s forwards;
}
.main__twit img {
	width: 100%;
	height: auto;
}
#wrap {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-size: auto 100vh;
	background-position-x: 0%;
	background-repeat: no-repeat;
}

#canvas {
	transform-origin: left center;
	margin: auto 0;
	width: 1920px;
	height: 900px;
}

.btn-baff__wrap {
  overflow: visible;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0;
}
.btn-baff__wrap:after {
	font-weight: 500;
	font-size: 30px;
	margin-left: 30px;
}

.btn-baff {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
}

.btn-baff__inner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  animation: pulse 2s infinite;
}

.btn-baff__txt {
  font-weight: 500;
  font-size: 30px;
  margin-left: 30px;
}

.btn-baff__wrap.baff {
	opacity: 1;
}
.btn-baff__wrap.baff:after {
	content: '2X SPEED!';
}
.btn-baff__wrap.baff  .btn-baff__inner {
  background-color: #33CB66;
}

.btn-baff__wrap.baff  .btn-baff {
  background-color: rgba(51, 203, 102, 0.5);
}

.btn-baff__wrap.baff  .btn-baff__txt {
  text-shadow: 2px 0 rgba(51, 203, 102, 0.5);
}

.btn-baff__wrap.debaff {
	opacity: 1;
}
.btn-baff__wrap.debaff:after {
	content: 'Choke!';
}
.btn-baff__wrap.debaff  .btn-baff__inner {
  background-color: #EF3F42;
}

.btn-baff__wrap.debaff  .btn-baff {
  background-color: rgba(239, 63, 66, 0.5);
}

.btn-baff__wrap.debaff  .btn-baff__txt {
  text-shadow: 2px 0 rgba(239, 63, 66, 0.5);
}

.modal-gameover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}
.modal-gameover.active {
	display: flex;
}
.modal-gameover-img {
	object-fit: contain;
}
.restart-btn-wrap {
	flex-shrink: 0;
	align-self: center;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	position: relative;
}
.restart-btn {
	font-family: "Gillory-regular";
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 200px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	color: #33CB66;
	font-size: 30px;
}
.restart-btn-text {
	bottom: 32%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	font-size: 80px;
	margin: 0;
	font-weight: bold;
	text-shadow: -3px 3px 1px red;
}
.restart-btn > img {
	margin-right: 20px;
	display: block;
}
.restart-btn-left {
	width: 250px;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
	margin-right: 20px;
	border-radius: 5px;
}
.restart-btn-right {
	width: 250px;
	background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
	margin-left: 20px;
	border-radius: 5px;
}
.modal-finish {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 100px 100px 50px;
	background-image: url('img/modal-finish.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
.modal-finish.active {
	display: flex;
}
.modal-finish-text {
	font-size: 70px;
	margin: 20px 0 80px;
	font-weight: bold;
	text-shadow: 6px 6px 1px #33CB66;
}
.modal-finish-total {
	font-size: 150px;
	color: #fff;
	margin: 0;
}
.modal-finish-total span {
	color: #33CC66;
}

#bitcoin {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	transition: all 200ms ease-out;
}
#bitcoin .bitcoin-content {
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 3px 10px;
	border-radius: 3px;
	margin-right: 70px;
}
#bitcoin .bitcoin-content:before {
	content: '';
	position: absolute;
	width: 3px;
	background-color: #FFC000;
	top: 0;
	bottom: 0;
	right: 0px;
}
#bitcoin:before {
	content: '';
	position: absolute;
	height: 3px;
	width: 50px;
	background-color: #FFC000;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
}
#bitcoin .bitcoin-img {
	width: 26px;
	height: 26px;
	object-fit: contain;
	margin-right: 10px;
}
#bitcoin span {
	font-size: 24px;
	width: 75px;
	color: #000;
}

.bar-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	background-image: url('img/14-layers.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-position: left bottom
}
.bar-right {
	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	width: 20px;
	background-image: url('img/7-layers.png');
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-position: right bottom
}
#smash {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
}

#tutorial {
	position: absolute;
	top: 100vh;
	left: 50%;
	transform: translate(-50%, -32%);
	width: 660px;
	height: 660px;
}
#tutorial .tutorial-text {
	position: absolute;
	top: 22%;
	left: 0;
	right: 0;
	font-size: 30px;
	text-align: center;
	margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
