/* Style for "2X SPEED!" */
width: 226px;
height: 58px;
color: #ffffff;
font-family: Gilroy;
font-size: 50px;
font-weight: 400;
letter-spacing: -0.1px;
text-transform: uppercase;


/* Style for "Dick Jorne" */
width: 192px;
height: 43px;
color: #ffffff;
font-family: Gilroy;
font-size: 36px;
font-weight: 400;
letter-spacing: -0.07

/* Style for "macafi" */
width: 191px;
height: 70px;
color: #ffffff;
font-family: Gilroy;
font-size: 60px;
font-weight: 400;
letter-spacing: -0.12px;

/* Style for "2010" */
width: 106px;
height: 58px;
color: #ffffff;
font-family: Gilroy;
font-size: 50px;
font-weight: 400;
letter-spacing: -0.1px;



/* Style for "Click to speed up" */
width: 240px;
height: 37px;
color: #ffffff;
font-family: Gilroy;
font-size: 30px;
font-weight: 400;
letter-spacing: -0.06px;


/* Style for "SPEED UP BOY" */
width: 485px;
height: 329px;
transform: rotate(-30deg);
color: #ffffff;
font-family: "Gilroy Semi Bold";
font-size: 70px;
font-weight: 600;
letter-spacing: 1.62px;
text-transform: uppercase;

/* Style for "HEAT" */
width: 195px;
height: 163px;
transform: rotate(-330deg);
color: #ffffff;
font-family: "Gilroy Semi Bold";
font-size: 70px;
font-weight: 600;
letter-spacing: 1.62px;
text-transform: uppercase;

/* Style for "You  Lose!" */
width: 461px;
height: 116px;
color: #ffffff;
font-family: Gilroy;
font-size: 100px;
font-weight: 400;
letter-spacing: -0.2px;

/* Style for "Restart" */
width: 110px;
height: 38px;
color: #33cc66;
font-family: Gilroy;
font-size: 33px;
font-weight: 400;
letter-spacing: -0.07px;


/* Style for "Space" */
width: 45px;
height: 19px;
color: #c2c2c2;
font-family: Gilroy;
font-size: 15px;
font-weight: 400;
letter-spacing: -0.03px;


/* Style for "New game" */
width: 175px;
height: 41px;
color: #ffffff;
font-family: Gilroy;
font-size: 35px;
font-weight: 400;
letter-spacing: -0.07px;

/* Style for "Rules" */
width: 85px;
height: 41px;
opacity: 0.4;
color: #ffffff;
font-family: Gilroy;
font-size: 35px;
font-weight: 400;
letter-spacing: -0.07px;


/* Style for "21 000 USD" */
width: 869px;
height: 185px;
color: #33cc66;
font-family: "Gilroy Extra Bold";
font-size: 150px;
font-weight: 700;
letter-spacing: -0.3px;
text-transform: uppercase;
/* Text style for "USDT" */
color: #ffffff;